.content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px 0;
}

.home-page-content {
    padding: 0 100px;
}

.app-intro-image-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.app-intro-wrapper {
    display: block;
    margin: auto;
    padding-left: 100px;
}

/* second section */
.home-page-content2 {
    background-color: rgb(242, 242, 243);
}

.app-intro-image-wrapper {
    padding-top: 100px;
}

.box{
    font-size: 120px;
    font-weight:600;
    line-height: 0.65em;
    height: 85px;
    text-shadow: 3px 10px 5px black;
    position:relative;
    color: rgb(80, 166, 142);
}
.layer1{
    z-index: 3;
}
.layer2{
    z-index: 2;
}
.layer3{
    z-index: 1;
}

.app-slogan{
    padding-bottom: 50px;
}

.app-description {
    padding: 0 100px;
    padding-bottom: 40px;
}

.app-description p {
    font-size: 16px;
    text-align: justify;
}
/* .app-description-wrapper {

} */

.app-heading {
    color: rgb(237, 17, 116);
}

.app-heading h1 {
    font-size: 55px;
    font-weight: 700;
}

.small-app-description {
    font-size: 25px;
}

.app-download-buttons-wrapper {
    display: flex;
}

.app-download-button {
    padding:20px;
}

.app-download-button  img {
    width: 150px;
    height: auto;
}

.app-illustration-image {
    display: block;
    margin: auto;
}

.app-illustration-image img {
    width: 100%;
    height: auto;
    object-fit: fill;
}