.main-div {
    padding: 0 100px;
}
.contact-us-section {
    background-image: url("../resources/illustartions/contactus.svg");
    background-repeat: no-repeat;
    background-size: 60% 100%;
    height: 550px;
}

.contact-us-form-wrapper {
    width: 40%;
    height: 100%;
    margin-inline-start: 50%;
}

.contact-us-form {
    padding: 30px;
}

.input-field-wrapper {
    padding: 10px 0;
}

.input-field-box {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 2px solid rgba(22, 50, 89, 1);
}

.message {
    height: 100px
}

.input-label {
    color: rgba(22, 50, 89, 1);
}

.submit-button-wrapper {
    width: 100%;
}

.submit-button {
    float: right;
    height: 30px;
    width: 40%;
    background-color: rgba(22, 50, 89, 1);
    color: white;
    border: none;
    border-radius: 5px;
}