/* .footer-wrapper {

} */

.footer-background {
    background-color: rgba(22, 50, 89, 1);
}

.footer {
    padding: 0 100px;
}

.footer-main-content {
    display: flex;
    justify-content: start;
    padding: 50px 0;
}

.footer-logo-wrapper {
    padding: 20px;
}

.footer-logo-image {
    padding-right: 40px;
}

.footer-logo-image img {
    width: 90px;
    height: auto;
}

/* .footer-contents-wrapper {
    
} */

.footer-content-lists-wrapper {
    display: flex;
}

.footer-content-list-wrapper {
    padding: 0 40px;
}

.footer-content-list-title h4 {
    font-weight: bold;
    color: white;
    font-size: 18px;
}

.footer-content-list-item-link {
    padding: 5px 0;
    font-size: 16px;
}

.footer-content-list-item-link a {
    color: white;
    font-weight: normal;
    text-decoration: none;
    transition: color 0.5s;
}

.footer-content-list-item-link a:hover {
    color:rgba(255, 255, 255, 0.6);
}

.social-media-content-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.social-media-links-wrapper {
    display: flex;
}

.social-media-link {
    padding: 5px;
}

.social-media-link img {
    width: 30px;
    height: 30px;
}

.footer-app-download-buttons {
    display: flex;
    width: 240px;
    justify-content: space-between;
}

/* .apple-store-button {

} */

.apple-store-button img {
    width: 100px;
    height: auto;
}

/* .google-store-button {

} */

.google-store-button img {
    width: 100px;
    height: auto;
}

.footer-company-legal-info-documents-links-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.copyright-statement {
    color: whitesmoke;
}

.company-legal-info-documents-links {
    display: flex;
}

.legal-document-link {
    padding-right: 20px;
}

.legal-document-link a {
    color: white;
    font-size: 12px;
}