body {
    margin: 0px;
}
/* .container {
    
} */

/* .header-wrapper {
    
} */

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

.header a {
    text-decoration: none;
}

.header-left-side {
    display: flex;
}

.logo-image {
    margin-right: 40px;
}

.logo-image img {
    width: 90px;
    height: 90px;
}

.nav-wrapper {
    display: flex;
    padding: 40px 0;
}

.nav-wrapper > div {
    margin-right: 50px;
}

.nav-link {
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
    padding-bottom: 5px;
}

.nav-link a {
    color: rgba(22, 50, 89, 0.7);
    transition: all 0.5s;
}

.nav-link:hover {
    border-bottom: 2px solid rgb(22, 50, 89);
}

.nav-link a:hover {
    color: rgb(22, 50, 89);
}

/* .header-right-side {

} */

.download-app {
    padding: 40px;
}

.download-app a {
    color: rgb(22, 50, 89);
}