.page-content-wrapper {
    height: 100%;
}

.main-intro-wrapper {
    padding: 0 10px;
}

.main-intro-background-illustration {
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;    
}

.main-intro-statement {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: fit-content;
}

.main-intro-statement h1 {
    font-size: 50px;
    font-weight: 600;
    color: rgb(237, 17, 116);
}

