.coming-soon {
    padding: 0 50px;
    text-align: center;
}
.coming-soon-message-wrapper {
    background-image: url('../resources/illustartions/construction.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}

.message {
    color: rgb(80, 166, 142);
    font-size: 70px;
}

.hubub-business {
    color: rgb(237, 17, 116);
}

.coming-soon-message {
    font-size: 18px;
    padding: 50px;
}

.go-to-home-button {
    padding: 20px;
}

.go-to-home-button > a {
    color: rgb(80, 166, 142);
    height: 50px;
    text-decoration: none;
    font-weight: 500;
}