.company-mission-vision-grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding: 100px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.company-mission-view-wrapper {
    border: 3px solid green;
    padding-top: 10px;  
    border-radius: 10px;  
}

.company-mission-wrapper {
    padding: 2px;
}

.company-mission-image-wrapper {
    height: 40px;
    width: 40px;
    background-color: teal;
    margin: auto;
}

.company-mission-title-wrapper {
    font-size: 20px;
    font-weight: bold;
}

.company-mission-statement-wrapper {
    font-size: 20px;
}